body {
  margin: 0;
  padding: 0;
}


/* INPUT */
.input__section {
  margin: 1em;
}

.input__form {
  display: none;
}

.input__show {
  display: block;
}


/* TOOLBAR */
.toolbar__section {

}

.toolbar__button {
  height: 4em;
  width: 4em;
  padding: .25em;
  margin: .25em;
  background: none;
  border: none;
  cursor: pointer;
}

.toolbar__button i {
  transform: scale(2);
}


/* BODY */
#foundation {
  width: fit-content;
}

.property > .property:not(.array) {
  transform: translateX(2em);
}

/* Expand/Collapse button */
.button-expander {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
}

.object-complex > .key {
  text-indent: 20px;
}

.button-expander > i {
  object-fit: fill;
}

.key {
  width: 120px;
}

.key, .value {
  height: 1em;
}

.collapsed {
  display: none;
}


.object-complex {
  font-weight: bold;
}

.object-simple {
  font-weight: normal;
}

.array-element {
  border: 1px solid black;
  border-right: none;
}

.key {

  font-family: sans-serif;
  font-weight: bold;
  background: lightgray;
}

.value {

}




/* use ::before elements to make a visual branching indicator */