
.editing-mode__container {
  height: 50px;
  width: 50px;
}

.editing-mode__checkbox {
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
}


div div { 
  transform: translateX(1em);
}

.button-expander {
  background: none;
  border: none;
  cursor: pointer;
}

div label {
  font-family: sans-serif;
}

.collapsed {
  display: none;
}

.key-object {
  font-weight: bold;
}

.key-primitive {
  font-weight: normal;
}

.property {
  background:lightgray; 
}

.key-array > label {
  color: gray;
}