body {
  margin: 0;
  padding: 0;
}


/* INPUT */
.input__form {
  display: none;
}

.input__show {
  display: block;
}


/* TOOLBAR */
.toolbar__button {
  height: 4em;
  width: 4em;
  padding: .25em;
  margin: .25em;
  background: none;
  border: none;
  cursor: pointer;
}

.toolbar__button i {
  transform: scale(2);
}


/* BODY */
#foundation {
  margin-left: 2em;
}

.property > .property {
  transform: translateX(3em);
}

.button-expander {
  background: none;
  border: none;
  cursor: pointer;
}

.collapsed {
  display: none;
}

.object-complex {
  font-weight: bold;
  transform: translate(-2em);
  margin-bottom: .5em;
}

.object-simple {
  font-weight: normal;
}

.array {
  color: aqua;
}

.array-element {
  color: aquamarine;
}

.key {
  font-family: sans-serif;
  font-weight: bold;
  background: lightgray;
}

.value {

}




/* use ::before elements to make a visual branching indicator */